body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}


a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}


li:last-child {
    margin-right: 0px;
}

nav {
    margin-bottom: 20px;
}

.section-about {

    height: 640px;
    background: url(../img/01-Картинка-фона.jpg) ;
    background-position: center;
    background-size: cover;
 

}

.section-about-block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8)0%, rgba(234, 156, 65, 0.8)100%);
    position: relative;
    left: 730px;
    top: 349px;
}