* {
    box-sizing: border-box;
}

body {
    background-color: #FFE2B0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}


a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}

h1 {
    text-align: center;
}


li:last-child {
    margin-right: 0px;
}

nav {
    margin-bottom: 20px;
}

.section-about {

    height: 640px;
    background: url(../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;

}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8)0%, rgba(234, 156, 65, 0.8)100%);
    position: absolute;
    left: 50%;
    top: 54%;
    padding-top: 15px;
}

.section-about__border {
    height: 160px;
    width: 390px;
    border: 1px solid black;
    margin: 0 auto;
    padding-left: 28px;
    padding-top: 17px;
    text-align: left;
}

.section-about__title {
    font-size: 36px;
    margin: 0 0 9px 0;

}

.section-about__text {
    font-size: 12px;
    margin: 0;
}

.section-description__icon-box{
    text-align: center;
}

.section-description__icon-box img{
    margin-right: 76px;
}

.section-description__icon-box img:last-child{
    margin-right: 0;
}